* {
	box-sizing: border-box;
	margin-top: 0;
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
}
.row before, .row:after {
	content:"";
	display:table;
}
.row:after {
	clear:both;
}

nav ul  {
	width: 50%;
	float: left;
    margin: 5px;
}

nav ul a {
	padding: 10px 20px;
    border:1px solid black;
	display: inline-block;
	color: black;
	text-decoration: none;
	margin-right: 90px;
	font-size: 35px;
    
}

.logotipo {
	width: 100%;
}

.imagen {
	width: 100%;
}

.partedos {
	text-align: center;
	margin: 70px;
	font-size: 50px;
}


[class*=col-]{
	min-height: 7px;
	padding: 12px;
	float left;
}
.col-1 {
	width: 8.333333%;
}

.col-2 {
	width: 16.666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.333333%;
	margin:auto;
}

.col-5 {
	width: 41.666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.333333%;
}

.col-8 {
	width: 66.666666%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.333333%;
}

.col-11 {
	width: 91.666666%;
}
.col-12 {
	/*(1 /12) x 100 */
	width: 100%;

